<div class="row">
    <div class="col">
        <p>Wyników  <%- Lista.length %> na <%- resultCount  %></p>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <% for (let i=1; i <= pagesCount ; i++)  { %>
                   <li class="page-item <%- page == i ? 'active' : ''%>">
                    <a href="" class="page-link" data-page="<%-i%>" >
                          <%-i%>
                      </a> 
                    </li>
                <% } %>    
            </ul>
        </nav>
    </div>
</div>

<script>
const changePage = e=>{
    e.preventDefault();
    const search = new URLSearchParams(window.location.search);
    search.set('page', e.target.dataset.page) //jesli jest podane data-page kolo klasy
    const url = window.location.origin + window.location.pathname + '?' + search.toString();
    window.location.href = url; //przekierowanie na nowy url
}

    document.querySelectorAll('.pagination a').forEach
      (a => {a.addEventListener('click', changePage)});

</script>